section.section1 {background-color: #33ffb2; visibility: hidden; position: absolute; top: 130px; left: 10px; width: 600px; overflow: scroll;}

section.section2 {background-color: #33ffb2; visibility: hidden; position: absolute; top: 130px; left: 10px; width: 600px; overflow: scroll;}

section.section3 {background-color: #33ffb2; visibility: hidden; position: absolute; top: 130px; left: 10px; width: 600px; overflow: scroll;}

h2 { font-family: sans-serif; text-align: center; font-weight: bold; color: #8B0000;}

.example {font-style: italic; color: blue; }

.customer label {display: inline-block; width: 225px; height: auto; margin: 3px;}

.shipto label {display: inline-block; width: 250px; height: auto; margin: 3px;}

.deletecust label {display: inline-block; width: 300px; height: auto; margin: 3px;} 